.recipePage {
    min-height: 100vh;

    .gridContainer {


        .leftContentBox {
            display: flex;
            flex-direction: column;
        }

        .rightContentBox {
            display: flex;
            flex-direction: column;

            .image {}
        }
    }
}